In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 18 for SQL Server};'
    'SERVER=adventureworks-server-hdf.database.windows.net;'
    'DATABASE=adventureworks;'
    'UID=jvcb;'
    'PWD=cbjv592023!;'
)

# Requête pour récupérer les noms des tables
query_tables = """
SELECT TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'
"""

# Exécuter la requête et charger les résultats dans un DataFrame
df_tables = pd.read_sql(query_tables, conn)

# Afficher les tables
df_tables

/tmp/ipykernel_22906/3240770522.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tables = pd.read_sql(query_tables, conn)

                   TABLE_NAME
0             PhoneNumberType
1                EmailAddress
2              BusinessEntity
3                 PersonPhone
4               CountryRegion
..                        ...
66                   ErrorLog
67  EmployeeDepartmentHistory
68                    Address
69      BusinessEntityAddress
70      BusinessEntityContact

[71 rows x 1 columns]

In [2]:
# Nom de la table à charger
nom_table = "Person.PhoneNumberType"

query = f"SELECT * FROM {nom_table}"
df = pd.read_sql(query, conn)

df

/tmp/ipykernel_22906/2640586081.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   PhoneNumberTypeID  Name            ModifiedDate
0                  1  Cell 2017-12-13 13:19:22.273
1                  2  Home 2017-12-13 13:19:22.273
2                  3  Work 2017-12-13 13:19:22.273

In [3]:
output_dir = 'csv'
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

In [4]:
# Récupérer la liste des tables
query_tables = """
SELECT TABLE_SCHEMA + '.' + TABLE_NAME AS FullTableName
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'
"""
df_tables = pd.read_sql(query_tables, conn)

# Boucle sur les tables pour sauvegarder en CSV
for index, row in df_tables.iterrows():
    table_name = row['FullTableName']
    try:
        # Charger les données de la table dans un DataFrame
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, conn)
        
        # Nom du fichier CSV
        file_name = f"{table_name.replace('.', '_')}.csv"
        file_path = os.path.join(output_dir, file_name)
        
        # Sauvegarder en CSV
        df.to_csv(file_path, index=False, sep=';', encoding='utf-8')
        print(f"Table {table_name} exportée avec succès dans {file_path}")
    except Exception as e:
        print(f"Erreur lors de l'exportation de la table {table_name} : {e}")

/tmp/ipykernel_22906/2104957209.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tables = pd.read_sql(query_tables, conn)
/tmp/ipykernel_22906/2104957209.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Table Person.PhoneNumberType exportée avec succès dans csv/Person_PhoneNumberType.csv

Table Person.EmailAddress exportée avec succès dans csv/Person_EmailAddress.csv
Table Person.BusinessEntity exportée avec succès dans csv/Person_BusinessEntity.csv
Table Person.PersonPhone exportée avec succès dans csv/Person_PersonPhone.csv
Table Person.CountryRegion exportée avec succès dans csv/Person_CountryRegion.csv
Table Person.Password exportée avec succès dans csv/Person_Password.csv
Table Person.Person exportée avec succès dans csv/Person_Person.csv
Table Person.AddressType exportée avec succès dans csv/Person_AddressType.csv
Table Person.ContactType exportée avec succès dans csv/Person_ContactType.csv
Table Person.StateProvince exportée avec succès dans csv/Person_StateProvince.csv
Table Production.ProductInventory exportée avec succès dans csv/Production_ProductInventory.csv
Table Production.TransactionHistoryArchive exportée avec succès dans csv/Production_TransactionHistoryArchive.csv
Table Production.WorkOrder exportée avec succès dans csv/Production_WorkOrder.csv
Table Production.Illustration exportée avec succès dans csv/Production_Illustration.csv
Table Production.ProductDescription exportée avec succès dans csv/Production_ProductDescription.csv
Table Production.Product exportée avec succès dans csv/Production_Product.csv
Table Production.Location exportée avec succès dans csv/Production_Location.csv
Table Production.ProductProductPhoto exportée avec succès dans csv/Production_ProductProductPhoto.csv
Table Production.UnitMeasure exportée avec succès dans csv/Production_UnitMeasure.csv
Table Production.ProductCategory exportée avec succès dans csv/Production_ProductCategory.csv
Table Production.TransactionHistory exportée avec succès dans csv/Production_TransactionHistory.csv
Erreur lors de l'exportation de la table Production.ProductDocument : ('ODBC SQL type -151 is not yet supported.  column-index=1  type=-151', 'HY106')
Erreur lors de l'exportation de la table Production.Document : ('ODBC SQL type -151 is not yet supported.  column-index=0  type=-151', 'HY106')
Table Production.Culture exportée avec succès dans csv/Production_Culture.csv
Table Production.WorkOrderRouting exportée avec succès dans csv/Production_WorkOrderRouting.csv
Table Production.ProductCostHistory exportée avec succès dans csv/Production_ProductCostHistory.csv
Table Production.ProductReview exportée avec succès dans csv/Production_ProductReview.csv
Table Production.BillOfMaterials exportée avec succès dans csv/Production_BillOfMaterials.csv
Table Production.ProductModelIllustration exportée avec succès dans csv/Production_ProductModelIllustration.csv
Table Production.ProductPhoto exportée avec succès dans csv/Production_ProductPhoto.csv
Table Production.ProductModelProductDescriptionCulture exportée avec succès dans csv/Production_ProductModelProductDescriptionCulture.csv
Table Production.ProductSubcategory exportée avec succès dans csv/Production_ProductSubcategory.csv
Table Production.ScrapReason exportée avec succès dans csv/Production_ScrapReason.csv
Table Production.ProductModel exportée avec succès dans csv/Production_ProductModel.csv
Table Production.ProductListPriceHistory exportée avec succès dans csv/Production_ProductListPriceHistory.csv
Table Purchasing.PurchaseOrderHeader exportée avec succès dans csv/Purchasing_PurchaseOrderHeader.csv
Table Purchasing.PurchaseOrderDetail exportée avec succès dans csv/Purchasing_PurchaseOrderDetail.csv
Table Purchasing.Vendor exportée avec succès dans csv/Purchasing_Vendor.csv
Table Purchasing.ProductVendor exportée avec succès dans csv/Purchasing_ProductVendor.csv
Table Purchasing.ShipMethod exportée avec succès dans csv/Purchasing_ShipMethod.csv
Table Sales.SalesPersonQuotaHistory exportée avec succès dans csv/Sales_SalesPersonQuotaHistory.csv
Table Sales.Customer exportée avec succès dans csv/Sales_Customer.csv
Table Sales.CurrencyRate exportée avec succès dans csv/Sales_CurrencyRate.csv
Table Sales.CountryRegionCurrency exportée avec succès dans csv/Sales_CountryRegionCurrency.csv
Table Sales.PersonCreditCard exportée avec succès dans csv/Sales_PersonCreditCard.csv
Table Sales.SalesOrderDetail exportée avec succès dans csv/Sales_SalesOrderDetail.csv
Table Sales.SalesPerson exportée avec succès dans csv/Sales_SalesPerson.csv
Table Sales.SpecialOfferProduct exportée avec succès dans csv/Sales_SpecialOfferProduct.csv
Table Sales.SalesTaxRate exportée avec succès dans csv/Sales_SalesTaxRate.csv
Table Sales.SalesTerritoryHistory exportée avec succès dans csv/Sales_SalesTerritoryHistory.csv
Table Sales.SalesOrderHeader exportée avec succès dans csv/Sales_SalesOrderHeader.csv
Table Sales.Currency exportée avec succès dans csv/Sales_Currency.csv
Table Sales.ShoppingCartItem exportée avec succès dans csv/Sales_ShoppingCartItem.csv
Table Sales.SalesReason exportée avec succès dans csv/Sales_SalesReason.csv
Table Sales.SalesTerritory exportée avec succès dans csv/Sales_SalesTerritory.csv
Table Sales.CreditCard exportée avec succès dans csv/Sales_CreditCard.csv
Table Sales.SalesOrderHeaderSalesReason exportée avec succès dans csv/Sales_SalesOrderHeaderSalesReason.csv
Table HumanResources.Shift exportée avec succès dans csv/HumanResources_Shift.csv
Table Sales.SpecialOffer exportée avec succès dans csv/Sales_SpecialOffer.csv
Table HumanResources.EmployeePayHistory exportée avec succès dans csv/HumanResources_EmployeePayHistory.csv
Table Sales.Store exportée avec succès dans csv/Sales_Store.csv
Table HumanResources.JobCandidate exportée avec succès dans csv/HumanResources_JobCandidate.csv
Table dbo.AWBuildVersion exportée avec succès dans csv/dbo_AWBuildVersion.csv
Erreur lors de l'exportation de la table HumanResources.Employee : ('ODBC SQL type -151 is not yet supported.  column-index=3  type=-151', 'HY106')
Table dbo.DatabaseLog exportée avec succès dans csv/dbo_DatabaseLog.csv
Table HumanResources.Department exportée avec succès dans csv/HumanResources_Department.csv
Table dbo.ErrorLog exportée avec succès dans csv/dbo_ErrorLog.csv
Table HumanResources.EmployeeDepartmentHistory exportée avec succès dans csv/HumanResources_EmployeeDepartmentHistory.csv
Erreur lors de l'exportation de la table Person.Address : ('ODBC SQL type -151 is not yet supported.  column-index=6  type=-151', 'HY106')

/tmp/ipykernel_22906/2104957209.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Table Person.BusinessEntityAddress exportée avec succès dans csv/Person_BusinessEntityAddress.csv
Table Person.BusinessEntityContact exportée avec succès dans csv/Person_BusinessEntityContact.csv

In [5]:

# Fermer la connexion
conn.close()

# Fermer la connexion une fois que vous avez terminé